.swiper-container {
    width: 100vw;
    height: 100vh;
}

.one{
    width:100%;height:100%;
    background: url("../images/slide1/bg.png") no-repeat;
    background-size: contain;
}

.zhuangshi{
    width:1.66rem;height:1.2rem;
    background: url("../images/zhuangshi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left:.6rem;top:.75rem;
}
.fav{
    width:1.53rem;height:1.5rem;
    background: url("../images/slide1/fav.png") no-repeat;
    background-size: contain;
    position: absolute;
    right:.6rem;top:.5rem;
}



.block{
    width:5.57rem;height:5.7rem;
    background: url("../images/slide1/block.png") no-repeat;
    background-size: contain;
    position: absolute;
    right:0;top:0;left:0;bottom: 0;margin: auto;
}

.shoes{
    width:6.94rem;height:5.73rem;
    background: url("../images/slide1/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    right:0;top:0;left:0;bottom: 0;margin: auto;
}
.arrow{
    width:.68rem;height:.68rem;
    background: url("../images/slide1/arrow.png") no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 1rem; left:0;right:0;
    margin: auto;z-index: 100;
}
.title{
    width:2.81rem;height:1.55rem;
    background: url("../images/slide1/title.png") no-repeat;
    background-size: contain;
    position: absolute;
    left:.6rem;bottom: 2.6rem;
}
.gongyi{
    width:1.32rem;height:.65rem;
    background: url("../images/slide1/gongyi.png") no-repeat;
    background-size: contain;
    position: absolute;
    left:.6rem;bottom: 1.3rem;
}
.price{
    width:1.88rem;height:.71rem;
    background: url("../images/slide1/price.png") no-repeat;
    background-size: contain;
    position: absolute;
    right:.6rem;bottom: 1.3rem;
}


/*第二屏开始*/


.two{
    width:100%;height:100%;
    background: url("../images/slide2/bg.png") no-repeat;
    background-size: contain;
}

.shoes-two{
    width:6.83rem;height:4.82rem;
    background: url("../images/slide2/shoes.png") no-repeat;
    background-size: contain;
    position: absolute;
    left:0;top:3.25rem;
    right:0;
    margin: auto;
}
.con{
    width:6.9rem;height:4.7rem;
    margin: auto;position: absolute;
    left:0;right:0;bottom: 0;
    background: #fff;
    border-radius: .5rem .5rem 0 0 ;
}
.orange{
    width:.5rem;height:.10rem;
    margin: auto;position: absolute;
    left:0.6rem;top:.9rem;
    background: #f94620;
    box-shadow: 0 5px 5px #ccc;
    border-radius: .1rem;
}
.text1{
    font-size: .4rem;
    color:#ccc;
    position: absolute;
    left:.6rem;top:1.5rem;
}

.text2{
    font-size: .5rem;
    color:#000;
    font-weight: bold;
    position: absolute;
    left:.6rem;top:2rem;
}
.en1{
    font-size: .3rem;
    color:#666;
    position: absolute;
    left:.6rem;top:2.8rem;
}
.en2{
    font-size: .3rem;
    color:#666;
    position: absolute;
    left:.6rem;top:3.2rem;
}


